div > .ui-commandlink{
    float: left ;
    margin-left: 5px;
    padding: 5px;
}

div.custombutton{
    background-color: #ee3233;
    border: solid 1px;
    width: 2em;
}

.recommendation-bar{
    margin-top: 40px;
}

div[id=":growl-container"] {
    position:absolute;
    top:20px;
}
div[id=":growl-container"] {
    position:absolute;
    top:20px;
    left:40%;
}